In [ ]:
# 1. Input the string “Python” as a list of characters from console, delete at least 2 characters, reversethe
resultant string and print it.
# Enter input string
in_str = list(input("Enter a string:"))

Enter a string:Python

In [ ]:
# Delete 2 characters from the string
char_del = min(2, len(in_str))
op_str = in_str[char_del:]

# print result
print("Output string after deleting 2 characters: ", op_str)

Output string after deleting 2 characters:  ['t', 'h', 'o', 'n']

In [ ]:
# Reverse String
rev_str = ''.join(reversed(op_str))

# Print reversed string as result
print("Reversed string: ", rev_str)

Reversed string:  noht

In [ ]:
# 1b. Take two numbers as user input and perform at least 4 arithmetic operations
# Enter two numbers as input
number1 = float(input("Enter first num: "))
number2 = float(input("Enter second num: "))

Enter first num: 5
Enter second num: 10

In [ ]:
# Arithmetic operations addition, substraction, multiplication and division
Addition = number1 + number2
Subtraction = number1 - number2
Multiplication = number1 * number2

# Print results of addition, substraction and multiplication
print("Addition: ", Addition)
print("Substraction: ", Subtraction)
print("Multiplication: ", Multiplication)

Addition:  15.0
Substraction:  -5.0
Multiplication:  50.0

In [ ]:
# Division operation
# check number2 is not zero for division
if number2 != 0:
  Division = number1 / number2
else:
  Division = "cannot divide by zero"

# Print result
print("Division: ", Division)

Division:  0.5

In [ ]:
# 2. Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons’.
# Enter sentence as input
In_Sentence = input("Enter a sentence: ")

Enter a sentence: I love playing with python

In [ ]:
#Replace function is used to replace word
modified_sentence = In_Sentence.replace('python','pythons')

# print sentence after modification
print("The sentence after modification: ", modified_sentence)

The sentence after modification:  I love playing with pythons

In [ ]:
# 3. Use the if statement conditions to write a program to print the letter grade based on an input class score.
# Use the grading scheme we are using in this class.

# Enter input score
score = float(input("Enter total score: "))

Enter total score: 92

In [ ]:
# Check score based on grading scheme
if score >= 90:
  letter_grade = 'A'
elif score >= 80:
  letter_grade = 'B'
elif score >= 70:
  letter_garde = 'C'
elif score >= 60:
  letter_grade = 'D'
else:
  letter_gradegrade = 'F'
# print grade
print("Final grade for given score is: ", letter_grade)

Final grade for given score is:  A